<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="productForm">
      <v-row>
        <v-col md="6">
          <text-field label="اسم المنتج" v-model="product.name"> </text-field>
        </v-col>
        <v-col md="6">
          <auto-complete
            label="فئات"
            v-model="product.categoryId"
            :items="categories"
            item-value="id"
            item-title="name"
            variant="outlined"
            density="compact"
            class="rounded-xl"
            :return-object="false"
            :clearable="false"
            :hide-details="false"
            :multiple="false"
          >
          </auto-complete>
        </v-col>
        <v-col md="6">
          <text-field label="تفاصيل " v-model="product.description">
          </text-field>
        </v-col>
        <v-col md="6">
          <text-field label=" المزود" v-model="product.provider"> </text-field>
        </v-col>
        <v-col md="6">
          <v-file-input
            label="ملف"
            v-model="product.photo"
            hide-details
            density="compact"
            class="rounded-xl"
            variant="outlined"
          >
          </v-file-input>
        </v-col>
        <v-btn type="submit" rounded="1" class="mr-4 mt-2" @click="create()"
          >اضافة
        </v-btn>
      </v-row>
    </v-form>
  </v-card-text>
</v-card>
