<v-card class="mx-auto">
    <v-card-item>
        <v-card-title class="d-flex align-center pa-2">
            {{pageTitle}}
        </v-card-title>
    </v-card-item>
    <v-card-text>
        <v-form @submit.prevent ref="missionForm">
            <v-row>
                <v-col md="4">
                    <text-field label="الموضوع / العنوان" v-model="mission.title" disabled>
                    </text-field>
                </v-col>
                <v-col md="4">
                    <text-field label="تاريخ إصدار المعاملة" v-model="mission.date" disabled>
                    </text-field>
                </v-col>
                <v-col md="12">
                    <text-field label="الكيان الإداري" v-model="mission.entitieName" disabled>
                    </text-field>
                    <!--<auto-complete label="الكيان الإداري" v-model="mission.entities" multiple :items="lookup.entitiesLookup" disabled>
                    </auto-complete>-->
                </v-col>
                <v-col md="12">
                    <text-area label="تعليمات المهمة" v-model="mission.content" counter rows="3" auto_grow disabled>
                    </text-area>
                </v-col>

                <v-col md="4">
                    <text-field label="التاريخ المتوقع لإنجاز المهمة" v-model="mission.expectedEndDate" disabled>
                    </text-field>
                </v-col>
                <v-col md="4">
                    <text-field label="منشأة بواسطة" v-model="mission.createdBy" disabled>
                    </text-field>
                </v-col>
                <v-col md="4">
                    <text-field label="تاريخ الإنشاء" v-model="mission.createdOn" disabled>
                    </text-field>
                </v-col>
                <v-col md="4">
                    <v-btn color="primary"
                           variant="text"
                           @click="viewFile">
                        ملف القرار
                    </v-btn>
                </v-col>
                <v-col md="12">
                    <text-area label="ملاحظات" v-model="mission.remarks" counter rows="2" auto_grow disabled>
                    </text-area>
                </v-col>
            </v-row>
            <v-row class="ma-2">
                <v-card-text>
                    <v-row>
                        <v-card-title class="d-flex align-center pa-2">
                            التحديث
                        </v-card-title>
                        <v-spacer></v-spacer>
                        <v-tooltip text="إضافة تحديث"  v-if="identity.user.roleId == 2">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" variant="outlined" icon="mdi-file-document-plus-outline" @click="updateDialog = true" />
                            </template>
                        </v-tooltip>
                    </v-row>
                </v-card-text>
                <v-data-table :headers="updatesHeaders" :items="mission.updates">
                    <template v-slot:item.content="{ item }">
                        <v-tooltip location="top" v-if="item.content.length > 60">
                            <template v-slot:activator="{ props }">
                                <span v-bind="props">{{noteTruncate(item.content, 60)}}</span>
                            </template>
                            <span>{{item.content}}</span>
                        </v-tooltip>
                        <span v-else>{{item.content}}</span>
                    </template>

                </v-data-table>
            </v-row>
            <v-row class="ma-2">
                <v-card-text>
                    <v-row>
                        <v-card-title class="d-flex align-center pa-2">
                            الملاحظات
                        </v-card-title>
                        <v-spacer></v-spacer>
                        <v-tooltip text="إضافة ملاحظة"  v-if="identity.user.roleId == 1">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" variant="outlined" icon="mdi-file-document-plus-outline" @click="commentDialog = true" />
                            </template>
                        </v-tooltip>
                    </v-row>
                </v-card-text>
                <v-data-table :headers="commentsHeaders" :items="mission.comments">
                    <template v-slot:item.content="{ item }">
                        <v-tooltip location="top" v-if="item.content.length > 60">
                            <template v-slot:activator="{ props }">
                                <span v-bind="props">{{noteTruncate(item.content, 60)}}</span>
                            </template>
                            <span>{{item.content}}</span>
                        </v-tooltip>
                        <span v-else>{{item.content}}</span>
                    </template>

                </v-data-table>
            </v-row>
        </v-form>
    </v-card-text>



    <v-dialog v-model="updateDialog"
              persistent
              width="600">
        <v-card>
            <v-card-title>
                الرجاء إداخل التحديث
            </v-card-title>
            <v-card-text>
                <text-area label="ملاحظات" v-model="content" counter rows="2" auto_grow />
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary"
                       variant="text"
                       @click="createUpdate">
                    حفظ
                </v-btn>
                <v-btn color="error"
                       variant="text"
                       @click="canceleDialog()">
                    الغاء
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>


    <v-dialog v-model="commentDialog"
              persistent
              width="600">
        <v-card>
            <v-card-title>
                الرجاء إداخل الملاحظة
            </v-card-title>
            <v-card-text>
                <text-area label="ملاحظات" v-model="content" counter rows="2" auto_grow />
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary"
                       variant="text"
                       @click="createComment">
                    حفظ
                </v-btn>
                <v-btn color="error"
                       variant="text"
                       @click="canceleDialog()">
                    الغاء
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-card>
