<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="">
      <v-row>
        <v-col md="3">
          <auto-complete
            v-model="license.productId"
            :items="products"
            item-title="name"
            item-value="id"
            label="المنتج"
            required
            :rules="rules"
          ></auto-complete>
        </v-col>
        <v-col md="3">
          <auto-complete
            v-model="license.departmentId"
            :items="departments"
            item-title="name"
            item-value="id"
            label=" القسم"
            required
            :rules="rules"
          ></auto-complete>
        </v-col>

        <v-col md="3">
          <select-field
            label="نوع المنتج"
            v-model="license.productType"
            :items="store.productTypesLookup"
            item-title="name"
            item-value="id"
            :rules="rules"
          >
          </select-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="عدد الاجهزه"
            v-model="license.numOfDevices"
            :rules="rules"
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="رقم السيريل"
            v-model="license.serialKey"
            :rules="rules"
          >
          </text-field>
        </v-col>

        <v-col md="3">
          <date-picker
            label="تاريخ بداية الترخيص"
            v-model="license.startDate"
            :rules="rules"
          >
          </date-picker>
        </v-col>
        <v-col md="3">
          <date-picker
            label="تاريخ انتهاء الترخيص"
            v-model="license.expireDate"
            :rules="rules"
          >
          </date-picker>
        </v-col>

        <v-col md="3" v-show="license.productType== 2 | license.productType== 4">
          <date-picker
            label="تاريخ انتهاء الدعم"
            v-model="license.endOfSupport"
            :rules="rules"
          >
          </date-picker>
        </v-col>
        <v-col md="3" v-show="license.productType== 2 | license.productType== 4">
          <date-picker
            label="تاريخ انتهاء التصنيع"
            v-model="license.endOfManufacture"
            :rules="rules"
          >
          </date-picker>
        </v-col>

        <v-col md="3" v-show="license.productType== 2 | license.productType== 4">
          <date-picker
            label="تاريخ انتهاء البيع"
            v-model="license.endOfSale"
            :rules="rules"
          >
          </date-picker>
        </v-col>
        <v-col md="3">
          <select-field
            label="مستوى الخطر"
            v-model="license.impactLevel"
            :items="store.impactLevelLookup"
            item-title="name"
            item-value="id"
            :rules="rules"
          >
          </select-field>
        </v-col>
        <v-col md="3">
          <text-area
            label="معلومات عن مستوى الخطر"
            v-model="license.impactDescription"
          >
          </text-area>
        </v-col>
        <v-col md="3">
          <select-field
            label="مدة الترخيص"
            v-model="license.timeType"
            :items="store.licenseTypesLookup"
            item-title="name"
            item-value="id"
            :rules="rules"
          >
          </select-field>
        </v-col>


        <v-col md="3">
          <text-field
            label=" السعر بالدولار الامريكي"
            v-model="license.priceInUSD"
            :rules="rules"
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="السعر بالدينار الليبي"
            v-model="license.priceInLYD"
            :rules="rules"
          >
          </text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="submit" rounded="1" class="mx-2" @click="create()"
            >اضافة
          </v-btn>
          <v-btn
            type="cancel"
            color="error"
            variant="outlined"
            rounded="1"
            class="mx-2"
            @click="router.back()"
            >رجوع</v-btn
          >
        </v-col>
      </v-row>
    </v-form>
  </v-card-text>
</v-card>
