<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="">
      <v-row >
        <v-col md="3" >
          <auto-complete
            v-model="license.ProductId"
            :items="products"
            item-title="name"
            item-value="id"
            label="المنتج"
            required
          ></auto-complete>
        </v-col>
        <v-col md="3">
          <auto-complete
            v-model="license.DepartmentId"
            :items="departments"
            item-title="name"
            item-value="id"
            label=" القسم"
            required
          ></auto-complete>
        
        </v-col>

        
        <!-- <v-col md="3">
          <auto-complete
          v-model="license.DepartmentId"
          :items="departments"
          item-title="ownerName"
          label=" القسم"
          disabled
        ></auto-complete>
        </v-col>
   -->
     
        <v-col md="2">
          <text-field label="عدد الاجهزه" v-model="license.NumOfDevices">
          </text-field>
        </v-col>
        <v-col md="4">
          <text-field label="رقم السيريل" v-model="license.SerialKey">
          </text-field>
        </v-col>
  
        <v-col md="3">
          <date-picker label="تاريخ بداية الترخيص" v-model="license.StartDate">
          </date-picker>
        </v-col>
        <v-col md="3">
          <date-picker label="تاريخ انتهاء الترخيص" v-model="license.ExpireDate">
          </date-picker>
        </v-col>
        <v-col md="2">
          <text-field label="مستوى الخطر" v-model="license.ImpactLevel">
          </text-field>
        </v-col>
        <v-col md="4">
          <text-area
            label="معلومات عن مستوى الخطر"
            v-model="license.ImpactDescription"
          >
          </text-area>
        </v-col>
        <v-col md="3">
          <select-field label="مدة الترخيص" v-model="license.TimeType">
          </select-field>
        </v-col>
        
        <v-col md="3">
          <text-field label="تواصل" v-model="license.Contact"> </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label=" السعر بالدولار الامريكي"
            v-model="license.PriceInUSD"
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="السعر بالدينار الليبي"
            v-model="license.PriceInLYD"
          >
          </text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="submit" rounded="1" class="mx-2" @click="create()"
          >اضافة
        </v-btn>
        </v-col>
       </v-row>
    </v-form>
  </v-card-text>
</v-card>
