<v-container>
  <!-- Floating buttons -->
  <v-row>
    <v-col cols="1">
      <!-- Search button -->
      <v-btn fab dark color="blue" @click="openSearchDialog">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-col>

    <v-col class="mb-4">
      <!-- Add button -->
      <v-btn color="blue" @click="navigateToAddProductPage">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-col>
  </v-row>

  <!-- Product data table -->
  <v-data-table
    :headers="headers"
    :items="products"
    :items-per-page="5"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>قائمة المنتجات</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    </template>
    <template v-slot:item="{ item }">
      <tr>
        <td>{{ item.productName }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.totalLicense }}</td>
        <td>{{ item.availability }}</td>
        <td>{{ item.contact }}</td>
        <td>{{ item.provider }}</td>
        <td>{{ item.impactLevel }}</td>
        <td class="text-center">
          <v-btn icon @click="deleteProduct(index)" variant="text" size="small">
            <v-icon style="color: #b00020">mdi-delete</v-icon>
          </v-btn>
          <v-btn icon @click="editProduct(index)" variant="text" size="small">
            <v-icon style="color: #2196f3">mdi-pencil</v-icon>
          </v-btn>
          <v-btn icon @click="lockProduct(index)" variant="text" size="small">
            <v-icon style="color: #4caf50">mdi-lock</v-icon>
          </v-btn>
        </td>
      </tr>
    </template>
  </v-data-table>
</v-container>
