<v-container>
  <!-- Floating buttons -->
  <v-row>
    <v-col cols="1">
      <!-- Search button -->
      <v-btn fab dark color="blue" @click="openSearchDialog">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-col>

    <v-col class="pr-0">
      <!-- Add button -->
      <v-btn fab dark color="blue" @click="navigateToAddDepartmentPage">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-col>
  </v-row>

  <!-- Fixed title card -->
  <v-row>
    <v-col>
      <v-card class="pa-6">
        <v-row no-gutters>
          <v-col class="pr-2">
            <v-card-title>إسم القسم</v-card-title>
          </v-col>
          <v-col class="pr-2">
            <v-card-title>تواصل</v-card-title>
          </v-col>
          <v-col class="mr-2">
            <v-card-title>الإجراءات</v-card-title>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>

  <!-- Product data cards -->
  <v-row v-for="(product, index) in products" :key="index">
    <v-col>
      <v-card class="pa-6">
        <v-row no-gutters>
          <v-col class="pr-2">
            <v-card-text>{{ product.productName }}</v-card-text>
          </v-col>
          <v-col class="pr-2">
            <v-card-text>{{ product.contact }}</v-card-text>
          </v-col>
          <v-col class="mr-2">
            <v-card-actions>
              <v-btn icon @click="deleteProduct(index)">
                <v-icon style="color: #b00020">mdi-delete</v-icon>
              </v-btn>
              <v-btn icon @click="editProduct(index)">
                <v-icon style="color: #2196f3">mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon @click="lockProduct(index)">
                <v-icon style="color: #4caf50">mdi-lock</v-icon>
              </v-btn>
            </v-card-actions>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</v-container>
<!-- 


  <v-row>
    <v-col
      v-for="category in pp.content"
      :key="category.id"
      cols="12"
      md="6"
      lg="4"
    >
      <v-card class="pa-6" style="width: 100%">
        <v-row align="center">
          <v-col cols="auto">
            <v-icon :color="category.isActive ? 'green' : 'red'" size="50"
              >{{ category.name }}</v-icon
            >
          </v-col>
          <v-col>
            <v-card-title>
              <h4>{{ category.name }}</h4>
            </v-card-title>
            <v-card-text>
              <h4>عدد المنتجات: {{ category.productCount }}</h4>
            </v-card-text>
          </v-col>
          <v-col>
            <v-card-title>
              <h4>الإجراءت</h4>
            </v-card-title>
            <v-card-text>
              <v-btn icon="mdi mdi-pencil" variant="text"></v-btn>
              <v-btn icon="mdi mdi-information" variant="text"></v-btn>
              <v-btn
                icon="mdi mdi-delete"
                color="delete"
                variant="text"
              ></v-btn>
            </v-card-text>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</v-row>
 -->
