<v-card class="mx-auto">
    <v-card-item>
        <v-card-title class="d-flex align-center pa-2">
            {{pageTitle}}
        </v-card-title>
    </v-card-item>

    <v-card-text>
        <v-form @submit.prevent ref="userForm">
            <v-row>
                <v-col md="6">
                    <auto-complete label="إختر الموظف"
                                   v-model="emp"
                                   :items="empLists"
                                   :rules="rules"
                                   :itemText="'fullName'"
                                   :itemValue="'empId'"
                                   returnObject
                                   @update:modelValue="onEmpSelect">
                    </auto-complete>
                </v-col>
                <v-col md="6">
                    <auto-complete label="نوع المستخدم"
                                   v-model="user.roleId"
                                   :items="lookup.rolesLookup">
                    </auto-complete>
                </v-col>
            </v-row>
            <v-row>
                <v-col md="6">
                    <text-field label="الكيان الإداري"
                                v-model="user.entity"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="الوصف الوظيفي"
                                v-model="user.jobDesc"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6" v-if="user.actEntityId > 0">
                    <text-field label="الكيان الإداري المكلف"
                                v-model="user.actEntity"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6" v-if="user.actEntityId > 0">
                    <text-field label="الوصف الوظيفي المكلف"
                                v-model="user.actJobDesc"
                                disabled>
                    </text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="d-flex justify-end">
                    <v-btn type="submit" rounded="1" class="mx-2" @click="submit">حفظ</v-btn>

                    <v-btn color="error" variant="outlined" rounded="1" class="mx-2" @click="back()">رجوع</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-card-text>
</v-card>
