<v-card class="mx-auto">
    <v-card-item>
        <v-card-title class="d-flex align-center pr-2">
            {{pageTitle}}
        </v-card-title>
    </v-card-item>

    <v-card-text>
            <v-row>
                <v-col md="6">
                    <text-field label="اسم المستخدم"
                                v-model="user.userName"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="اسم الموظف"
                                v-model="user.fullName"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="الكيان الإداري"
                                v-model="user.entity"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="الوصف الوظيفي"
                                v-model="user.jobDesc"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6" v-if="user.actEntity">
                    <text-field label="الكيان الإداري المكلف"
                                v-model="user.actEntity"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6" v-if="user.actEntity">
                    <text-field label="الوصف الوظيفي المكلف"
                                v-model="user.actJobDesc"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="نوع المستخدم"
                                v-model="user.role"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field v-if="user.status == 1"
                                label="الحالة"
                                value="مفعل"
                                disabled>
                    </text-field>
                    <text-field v-else
                                label="الحالة"
                                value="مجمد"
                                disabled>
                    </text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col md="6">
                    <text-field label="منشأ بواسطة"
                                v-model="user.createdBy"
                                disabled>
                    </text-field>
                </v-col>
                <v-col md="6">
                    <text-field label="تاريخ الإنشاء"
                                v-model="user.createdOn"
                                disabled>
                    </text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="d-flex justify-end">
                    <v-btn color="error" variant="outlined" rounded="1" class="mx-2" @click="back()">رجوع</v-btn>
                </v-col>
            </v-row>
    </v-card-text>
</v-card>
