<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
      <v-row>
        <v-col class="d-flex justify-end">
          <v-btn
            icon="mdi mdi-keyboard-backspace"
            color="error"
            variant="outlined"
            rounded="1"
            class="mx-2"
            @click="back()"
          ></v-btn>
        </v-col>
      </v-row>
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="">
      <v-row>
        <v-col md="3">
          <text-field label="المنتج" v-model="license.productName" disabled>
          </text-field>
        </v-col>

        <v-col md="3">
          <text-field
            label="القسم"
            :value="getDepartmentNameById(license.departmentId)"
            disabled
          >
          </text-field>
        </v-col>

        <v-col md="3">
          <text-field
            label="اسم المسؤول"
            :value="getDepartmentOwnerNameById(license.departmentId)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="البريد الالكتروني"
            :value="getDepartmentEmailById(license.departmentId)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="رقم الهاتف"
            :value="getDepartmentPhoneNumberById(license.departmentId)"
            disabled
          >
          </text-field>
        </v-col>

        <v-col md="3">
          <text-field
            label="عدد الاجهزه"
            v-model="license.numOfDevices"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field label="رقم السيريل" v-model="license.serialKey" disabled>
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="مستوى الخطر"
            :value="getImpactLevel(license.impactLevel)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="معلومات عن مستوى الخطر"
            :value="license.impactDescription==null ? license.impactDescription : 'لايوجد ملاحظه'"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="تاريخ بداية الترخيص"
            :value="formatDate(license.startDate)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="تاريخ انتهاء الترخيص"
            :value="formatDate(license.expireDate)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="نوع المنتج"
            :value="getProductTypes(license.productType)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col
          md="3"
          v-show="license.productType== 2 | license.productType== 4"
        >
          <text-field
            label="تاريخ انتهاء الدعم"
            :value="formatDate(license.endOfSupport)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col
          md="3"
          v-show="license.productType== 2 | license.productType== 4"
        >
          <text-field
            label="تاريخ انتهاء التصنيع"
            :value="formatDate(license.endOfManufacture)"
            disabled
          >
          </text-field>
        </v-col>

        <v-col
          md="3"
          v-show="license.productType== 2 | license.productType== 4"
        >
          <text-field
            label="تاريخ انتهاء البيع"
            :value="formatDate(license.endOfSale)"
            disabled
          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="مدة الترخيص"
            :value="getLicenseTypes(license.timeType)"
            disabled
          >
          </text-field>
        </v-col>

        <v-col md="3">
          <text-field
            label=" السعر بالدولار الامريكي"
            v-model="license.priceInUSD"
            disabled
            suffix="$"

          >
          </text-field>
        </v-col>
        <v-col md="3">
          <text-field
            label="السعر بالدينار الليبي"
            v-model="license.priceInLYD"
            disabled
            suffix="د.ل"

          >
          </text-field>
        </v-col>
      </v-row>
    </v-form>
  </v-card-text>
</v-card>
