<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="categoryForm">
      <v-row>
        <v-col md="6">
          <text-field label="اسم الفئة" v-model="category.name" :rules="rules"> </text-field>
        </v-col>
        <v-col md="6">
          <text-field label="ملاحظات" v-model="category.description" :rules="rules">
          </text-field>
        </v-col>
        <v-col md="6">
          <v-file-input
            label="ايقونة"
            v-model="category.photo"
            hide-details
            density="compact"
            class="rounded-xl"
            variant="outlined"
            accept="image/*"
            :rules="rules"
          >
          </v-file-input>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="submit" rounded="1" class="mx-2" @click="create()"
            >اضافة
          </v-btn>
          <v-btn type="cancel" color="error" variant="outlined" rounded="1" class="mx-2" @click="router.back()">رجوع</v-btn>

        </v-col>
      </v-row>
    </v-form>
  </v-card-text>
</v-card>
