<v-card class="mx-auto">
  <v-card-item>
    <v-card-title class="d-flex align-center pa-2">
      {{pageTitle}}
    </v-card-title>
  </v-card-item>
  <v-card-text>
    <v-form @submit.prevent ref="categoryForm">
      <v-row>
        <v-col md="6">
          <text-field label="اسم الفئة" v-model="category.name"> </text-field>
        </v-col>
        <v-col md="6">
          <text-field label="ملاحظات" v-model="category.description">
          </text-field>
        </v-col>
        <v-col md="6">
          <v-file-input
            label="ملف"
            v-model="category.photo"
            hide-details
            density="compact"
            class="rounded-xl"
            variant="outlined"
          >
          </v-file-input>
        </v-col>
      </v-row>
      <v-btn type="submit" rounded="1" class="mx-2" @click="create()"
        >اضافة
      </v-btn>
    </v-form>
  </v-card-text>
</v-card>
